<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seungwon.blog.infra.PostRepository">

    <select id="findAll" resultType="com.seungwon.blog.domain.entity.Post">
        SELECT id,title,content,memberId,hits,createdAt,updatedAt
        FROM post
        WHERE status='NORMAL'
        ORDER BY updatedAt
    </select>
</mapper>
